.H2020 {
  background-color: blue !important;
}

.COST {
    background-color: purple !important;
}

.EEN {
  background-color: rgba(170,200,10,0.6) !important;
}

.IDEALIST {
	  background-color: yellow !important;
}


