.H2020 {
  background-color: blue !important;
}

.H2020 {
  background-color: blue !important;
}

.COST {
    background-color: purple !important;
}

.EEN {
  background-color: lightgreen !important;
}

.IDEALIST {
	  background-color: yellow !important;
}


