@CHARSET "UTF-8";

/** Theme related **/
.btn-black,.btn-black:hover {
  color: #fff;
  background-color: black;
  border-color: gray;
}

.btn-black:hover {
  font-weight: bold;
}

/** General style - layout related **/
#first-row {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.col-left {
  /*max-width: 300px;*/
  min-width:280px;
}

/*************************************************************/
/* Preset bar - dark background, horizontal menu with icon */
/*************************************************************/

/**  Top navbar **/
#navbar-top {
  border-bottom: 5px solid #1EBBC0;
  height: 20px;
  background-image: none;
}

.navbar-nav>li>a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar {
  min-height: 45px !important
}

/** List, list items and links **/
#preset-bar li.active a {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  background: none;
  box-shadow: none;
}

#preset-bar a {
  letter-spacing: 0.1em;
}

#preset-bar li.active>a:after,#preset-bar>a:hover:after {
  content: " .";
  display: block;
  border: 1px solid red;
  text-indent: -99em;
  border-bottom: 0.6em solid #1EBBC0;
  border-left: 0.6em solid rgba(0, 0, 0, 0);
  border-right: 0.6em solid rgba(0, 0, 0, 0);
  border-top: none;
  height: 0px;
  margin-left: -0.6em;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  width: 1px;
}

/*************************************************************/
/*                         Search bar                        */
/*************************************************************/
input:focus,textarea:focus {
  border-color: rgba(30, 187, 192, 0.8) !important;
}

#search-bar {
  margin: -20px -20px 10px -20px;
  border-radius: 0;
  padding: 40px 30px 30px 40px;
  border-bottom: 1px solid #BCBCBC;
  /*background: url("/searchbox/img/texture-white.png") repeat scroll 0 0
		rgba(0, 0, 0, 0);*/
  background-color: #f5f5f5;
}

#search-bar #logo {
  margin: auto;
  float: none;
  text-align: left;
}

#search-bar #logo-image {
  max-height: 65px;
  max-width: 235px;
}

#search-bar #logo-wrapper {
  width: 270px;
}

#search-bar #search-field {
  height: 42px;
  min-height: 42px;
  font-size: 20px;
  margin-right: 8px;
  width: 60%;
  border-radius: 3px;
  padding-right: 35px;
  border: 1px solid rgb(204, 204, 204);
}
/*
#search-bar #logo #logo-text {
	float: right;
	margin-top: -5px;
	left: auto;
	top: auto;
	clear: left;
	color: #777;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	display: block !important;
}

#search-bar #logo #logo-text:hover {
	text-decoration: none;
}

.texture-black {
	background: url("../images/texture-black.png") repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.text-from-url {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 14px;
	color: #555;
	line-height: 1.4em;
}

a.clear_input:hover {
	text-decoration: none
}
*/

/*************************************************************/
/*                         Status bar                        */
/*************************************************************/
#search-status-bar {
  margin-bottom: -6px;
  padding-bottom: -6px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  float:left;
}

#search-status-bar .status-text {
  color: #999;;
  font-size: 12px;
}

#status {
  padding: 15px 20px;
  color: #777;
  background-color: #fafafa;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

/*************************************************************/
/*                  Left column / facets                     */
/*************************************************************/

/*******************     CSS Checkbox      *******************/
#main-col-left h3.panel-title {
  text-transform: uppercase;
}

#main-col-left input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#main-col-left input[type=checkbox].css-checkbox+label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

#main-col-left input[type=checkbox].css-checkbox:checked+label.css-label
  {
  background-position: 0 -15px;
}

#main-col-left .css-label {
  background-image: url(/searchbox/img/lite-gray-check.png);
}

/** attribute and style of elements when in the col-left **/

/** SB stylesheet **/
#main-col-left .panel .panel-body {
  padding: 0;
}

#main-col-left .list-group .list-group-item {
  border-left: none;
  border-right: none;
  padding: 6px 10px;
}

#main-col-left .list-group {
  margin-bottom: 0;
}

.col-left .field.attributes {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.col-left .field.attributes>.field_label {
  float: left;
  font-weight: bold;
  clear: both;
  width: 100%;
}

.col-left .field.attributes>.field_value {
  float: left;
  clear: both;
  width: 100%;
  line-height: 1.2em;
  font-size: 13px;
  color: #666;
}

.nav form {
  margin: 0;
}

.nav .nav .nav-header {
  font-size: 12px;
  padding-left: 15px;
}

.nav .nav-list li label,.nav .labelus {
  display: inline-block;
  font-size: 12px;
  color: #555;
}

.nav input[type="checkbox"] {
  margin: 0 2px 0 0;
}

.nav .nav-list li label.selected {
  font-weight: bold;
}

.nav .nav-list li label span.count {
  font-weight: normal;
}

.nav li {
  white-space: nowrap;
  overflow: hidden;
  line-height: 16px;
  padding-left: 1px;
}

.nav ul {
  margin-bottom: 6px;
}

.nav .show-more {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
}

.nav li.nav-header .view-all-link {
  text-transform: none;
  float: right;
  font-size: 10px;
}

.nav ul.nav .view-all-link {
  display: none;
}

.nav ul.nav:hover  .view-all-link {
  display: block;
}

.nav .slider-range {
  width: 192px;
  margin: 9px auto auto 13px;
}

.nav .from-value {
  float: left;
}

.nav .to-value {
  float: right;
}

.nav .autocomplete-box,.sidebar-nav .geocomplete-box {
  width: 192px;
  margin: 9px auto auto 13px;
  height: 16px;
  line-height: 1.2em;
  color: #878787;
  font-size: 12px;
}

/*************************************************************/
/*                           Footer                          */
/*************************************************************/
#footer p {
  text-align: center;
  margin: -10px;
}

#footer {
  padding: 20px 30px 0 0;
  height: 60px;
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#footer #logo-footer {
  width: 120px;
  margin-bottom: 4px;
  margin-left: -1px;
}

div.resultrow {
  margin-bottom: 25px;
}

/** Push the dockbar at the bottom **/

/** Layout related stuff **/
body,html {
  height: 100%;
}

body #main-content {
  padding-left: 20px;
  padding-top: 60px;
}

/** Search header **/

/** Tags **/
#tag-bar {
  float: left;
  margin-top: -2px;
  padding-top: 5px;
}

#tag-bar i.icon-remove {
  margin-top: 0px;
  margin-left: 2px;
}

/** Arrow buttons **/
.btn.arrow-left,.btn.arrow-right {
  position: relative;
  background: #e2e2e2;
  border: none;
}

.btn.arrow-right:after,.btn.arrow-left:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid rgba(0, 0, 0, 0);
  border-bottom: 13px solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -13px;
  z-index: 2;
}

.btn.arrow-left {
  margin-left: 15px;
  border-radius: 0 4px 4px 0;
}

.btn.arrow-right {
  margin-right: 15px;
  border-radius: 4px 0 0 4px;
}

.btn.arrow-left:after {
  border-right: 14px solid #e2e2e2;
  right: 98%;
}

.btn.arrow-right:after {
  border-left: 14px solid #e2e2e2;
  left: 98%;
}

.btn.arrow-left.btn-inverse,.btn.arrow-right.btn-inverse {
  background: #1B1B1B;
}

.btn.arrow-right.btn-inverse:after {
  border-left: 14px solid #1B1B1B;
}

.btn.arrow-left.btn-inverse:after {
  border-right: 14px solid #1B1B1B;
}

/** Loading mask **/
.loading-indicator {
  height: 128px;
  width: 128px;
  background: url('../images/big-spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

.loading-indicator-overlay {
  background-color: #FFFFFF;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

/** Results **/
div.result-view h4 {
  margin-top: 0;
}

div .result-view {
  margin-bottom: 20px;
}

.resultrow h5.result-title {
  font-size: 14px;
  font-weight: normal;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 580px;
  float: left;
  margin-bottom: 0em;
  text-decoration: underline;
}

.resultrow img.thumbnail {
  float: left;
  margin-right: 5px;
  width: 122px;
}

.carousel-inner h5.result-title {
  width: 100%;
}

.resultrow h5.result-title:after {
  clear: left;
}

.resultrow p {
  float: left;
  line-height: 16px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 4px;
}

.resultrow p:after {
  clear: left;
}

.resultrow table.debug-fields {
  clear: left;
}

.resultrow span.hl {
  font-weight: bolder;
}

td.resultrow {
  padding-bottom: 20px;
}
/** Results - tags **/
#sort-combo li.selected a,ul.dropdown-menu li.selected a {
  font-weight: bold;
}

.resultrow div.attributes,div.result-view div.attributes {
  font-size: 11px !important;
  float: left;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #eeeeee;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 10px;
  cursor: default;
  max-width: 580px; /* TODO: put 100% back */
}

#main-col-center div.clickable {
  cursor: pointer;
  border-color: lightblue;
}

#main-col-center div.clickable:hover {
  border-color: lightskyblue;
}

.resultrow div.attributes span.field_label,div.result-view div.attributes span.field_label
  {
  color: #999;
  padding-right: 3px;
  float: left;
}

.resultrow div.attributes span.field_value.full,div.result-view div.attributes span.field_value.full
  {
  max-width: 100%;
}

.resultrow div.attributes span.field_value,div.result-view div.attributes span.field_value
  {
  font-size: 11px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
}

.resultrow .field.full,div.result-view .field.full {
  float: left;
  clear: left;
}

.resultrow .external-link a,div.result-view .external-link a,body.view .external-link a
  {
  background: url("../images/external-link.gif");
  color: #999999;
  background-repeat: no-repeat;
  padding-left: 12px;
  background-position: left center;
}

.resultrow .email-link a,div.result-view .email-link a {
  background: url("../images/email-link.png");
  color: #999999;
  background-repeat: no-repeat;
  padding-left: 12px;
  background-position: left center;
}

body.view .list .resultrow {
  margin-bottom: 40px;
}

.ui-autocomplete {
  z-index: 1030 !important;
}
/** Footer related CSS **/
#push {
  height: 80px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

/** pagination **/
#Pagination {
  text-align: center;
  margin-bottom: 20px;
  float: none;
  margin-top: 20px;
}

#Pagination a,#Pagination span {
  margin: 0px 4px 0 4px;
  border: none;
  color: #333;
  display: inline-block;
  line-height: 18px;
  position: relative;
  float: none;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

#Pagination a:hover {
  text-decoration: none
}

#Pagination .prevLink,#Pagination .nextLink,#Pagination a:hover {
  background: #1B1B1B;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#Pagination .currentStep {
  border: none;
  background-color: #1B1B1B;
  color: rgba(255, 255, 255, 0.75);
}

#Pagination .prevLink {
  margin: 0 4px 4px 0;
}

#Pagination .nextLink {
  margin: 4px 0 0 4px;
}

#Pagination .prevLink::after {
  border-right: 14px solid #1B1B1B;
  right: 98%;
}

#Pagination .nextLink::after {
  border-left: 14px solid #1B1B1B;
  left: 98%;
}

#Pagination .prevLink::after,#Pagination .nextLink::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  z-index: 2;
}

.carousel-control {
  left: 0
}

.carousel-control.right {
  right: 0
}

.carousel-inner {
  margin-left: 55px;
  margin-right: 55px;
  width: auto;
  min-height: 150px
}

body.errors #search-bar {
  display: none
}

.error-container {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

.error-container h1 {
  margin-bottom: .5em;
  font-size: 120px;
  line-height: 1em;
}

.error-container h2 {
  margin-bottom: .75em;
  font-size: 28px;
}

.error-container .error-details {
  margin-bottom: 1.5em;
  font-size: 16px;
}

.error-container .error-actions a {
  margin: 0 .5em;
}

button.btn.btn-large,input[type="submit"].btn.btn-large {
  height: 40px;
  padding: 9px 15px;
}