@CHARSET "UTF-8";

/*************************************************************/
/* Theme and layout related stuff */
/*************************************************************/

.btn-black,.btn-black:hover {
  color: #fff;
  background-color: black;
  border-color: gray;
}

.btn-black:hover {
  font-weight: bold;
}

/** General style - layout related **/
#first-row {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.col-left {
  /*max-width: 300px;*/
  min-width: 285px;
}

/** Layout related stuff **/
body,html {
  height: 100%;
}

body #main-content {
  padding:0px 30px 0 30px;
}

/*************************************************************/
/* Mobile related rules - responsive layout */
/*************************************************************/
@media ( min-width : 768px) {
  #main-col-left .panel {
    display: block;
  }
  #main-col-left .facet-mobile {
    display: none;
  }
}

@media ( max-width : 768px) {
  #main-col-left .panel {
    display: none;
  }
  #main-col-left .facet-mobile {
    width: 100%;
    display: block;
  }
  #main-col-left .facet-mobile:after {
    clear: both;
  }
}

/*************************************************************/
/* Preset bar - dark background, horizontal menu with icon */
/*************************************************************/

/**  Top navbar **/
#navbar-top-container{
  padding: 0 15px 0px 15px;
  background-color:black;
}

#navbar-top-container .navbar-toggle{
  margin-top:4px;
  margin-bottom:4px;
  border:none;
}

#navbar-top-container>.navbar-header, #navbar-top-container>.navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
  padding:0 15px 0 15px;
}

#navbar-top {
  border-bottom: 5px solid #1EBBC0;
  height: auto!important;
  background-image: none;
  margin-bottom: 0px;
  position: relative;
}

.nav-collapse.collapse.in {
height: auto !important;
}

.navbar-nav>li>a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar {
  min-height: 45px !important
}

/** List, list items and links **/
#preset-bar li.active a {
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  background: none;
  box-shadow: none;
}

.navbar-collapse.in #preset-bar li.active a, .navbar-collapse.collapsing #preset-bar li.active a{
  background-color:gray;
}
.navbar-collapse.in #preset-bar li.active>a:after, .navbar-collapse.collapsing #preset-bar li.active>a:after{
  display:none;
}

#preset-bar a {
  letter-spacing: 0.1em;
}

#preset-bar li.active>a:after,#preset-bar>a:hover:after {
  content: " .";
  display: block;
  border: 1px solid red;
  text-indent: -99em;
  border-bottom: 0.6em solid #1EBBC0;
  border-left: 0.6em solid rgba(0, 0, 0, 0);
  border-right: 0.6em solid rgba(0, 0, 0, 0);
  border-top: none;
  height: 0px;
  margin-left: -0.6em;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  width: 1px;
}

/*************************************************************/
/*                         Search bar                        */
/*************************************************************/
input:focus,textarea:focus {
  border-color: rgba(30, 187, 192, 0.8) !important;
}

#column-top {
  margin-bottom: 10px;
  border-radius: 0;
  padding-left: 0px;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid #BCBCBC;
  /*background: url("/searchbox/img/texture-white.png") repeat scroll 0 0
		rgba(0, 0, 0, 0);*/
  background-color: #f5f5f5;
}

#search-bar #logo {
  margin: auto;
  float: none;
  text-align: left;
}

#search-bar #logo-image {
  max-height: 65px;
  max-width: 235px;
}

#search-bar #logo-wrapper {
  width: 270px;
  margin-right: 25px;
  margin-bottom:10px;
}

#search-bar #search-field {
  height: 42px;
  min-height: 42px;
  font-size: 20px;
  margin-right: 8px;
  margin-bottom:10px;
  min-width: 60%;
  border-radius: 3px;
  padding-right: 35px;
  border: 1px solid rgb(204, 204, 204);
}
/* #search-bar button[type=submit].btn {
  padding: 10px 15px;
} */
/*
#search-bar #logo #logo-text {
	float: right;
	margin-top: -5px;
	left: auto;
	top: auto;
	clear: left;
	color: #777;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	display: block !important;
}

#search-bar #logo #logo-text:hover {
	text-decoration: none;
}

.texture-black {
	background: url("../images/texture-black.png") repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.text-from-url {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 14px;
	color: #555;
	line-height: 1.4em;
}

a.clear_input:hover {
	text-decoration: none
}
*/

/*************************************************************/
/*                         Status bar                        */
/*************************************************************/
#search-status-bar {
  margin-bottom: 10px;
  float: left;
  width:100%;
}

#search-status-bar .status-text {
  color: #999;;
  font-size: 12px;
}

#status {
  padding: 15px 20px;
  color: #777;
  background-color: #fafafa;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

/*************************************************************/
/*                  Left column / facets                     */
/*************************************************************/

/*******************     CSS Checkbox      *******************/
#main-col-left{
  z-index:1000;
}

#main-col-left h3.panel-title {
  text-transform: uppercase;
}

#main-col-left input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#main-col-left input[type=checkbox].css-checkbox+label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

#main-col-left input[type=checkbox].css-checkbox:checked+label.css-label
  {
  background-position: 0 -15px;
}

#main-col-left .css-label {
  background-image: url(/searchbox/img/lite-gray-check.png);
}

#main-col-left .facet-mobile button {
  width: 100%;
  margin-bottom: 10px;
}
/** attribute and style of elements when in the col-left **/

/** SB stylesheet **/
#main-col-left .panel .panel-body {
  padding: 0;
}

#main-col-left .list-group .list-group-item {
  border-left: none;
  border-right: none;
  padding: 6px 10px;
}

#main-col-left .list-group {
  margin-bottom: 0;
}

/*************************************************************/
/*                           Footer                          */
/*************************************************************/
#footer p {
  text-align: center;
  margin: -10px;
}

/** Making the footer always appear at the bottom of the page **/
#main-search-content{
  padding-bottom:80px;
}

#wrap {
	min-height:100%;
	position:relative;
}

#footer {
  padding: 20px 30px 0 0;
  height: 60px;
  margin-top: 25px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer #logo-footer {
  width: 120px;
  margin-bottom: 4px;
  margin-left: -1px;
}

div.resultrow {
  margin-bottom: 25px;
}
/*************************************************************/
/*                    Debug utilities                        */
/*************************************************************/
.debug-wrapper{
  border: dashed 1px aqua;
  display: inherit; 
  padding: 2px;
  background-color: lightcyan;
}

.popover {
    max-width: 850px;
    width: auto;
    z-index:2000;
}



